@import "tailwindcss";

@theme {
  --color-core-blue: #183b4e;

  --color-dark-blue: #085783;
  --color-active-blue: #0079c8;
  --color-light-blue: #39d3ff;
  --color-pastel-blue: #c3f7ff;

  --color-dark-pink: #77216f;
  --color-active-pink: #c9108d;
  --color-light-pink: #fa87e9;
  --color-pastel-pink: #ffbee0;

  --color-dark-green: #3e6f2e;
  --color-active-green: #3cae4a;
  --color-light-green: #7de688;
  --color-pastel-green: #d2f39d;

  --color-dark-gray: #587989;
  --color-active-gray: #7790a3;
  --color-light-gray: #b8c5d0;
  --color-pastel-gray: #f2f4f6;
}
